.ContentBoxtext{
    .UploadFileIMG{
        padding: 0px;
        width: 100%;
        height: 250px;
        border: 3.6px dashed rgba(69, 69, 69, 0.81);
    }

    #addUploadFileIMG{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        text-align: center;
        color: var(--colorBlack);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    span{
        font-size: 100px;    
        }
    }
    #inputuploadFileIMG{
        position: absolute;
        top: 5.7rem;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 1rem;
        width: 412px;
        height: 292px;
        opacity: 0;
    }
}

