.modal_perfil_no_autorizado{
    align-items: center;
    background: linear-gradient(210.41deg,#232424 1.14%,#111111 100.75%);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    overflow: scroll;
}
.modal_perfil_no_autorizado_info {
    background-color: rgb(0, 0, 0);
    box-shadow: -13px 11px 9px 0px #303030;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
    padding: 50px 40px;
    width: 40%;
    gap: 2.5rem;
    position: relative;
}
.modal_perfil_no_autorizado img {
    right: 4rem;
    position: absolute;
    top: 13rem;
    width: 105px;
}

.modal_perfil_no_autorizado-registro{color: #565656;margin-top: 20px;}
.autorizado_infoTitle {font-size: 35px;}
.modal_perfil_no_autorizado-registro a {color: #ff9e02;font-weight: 800;text-decoration: none;}


/* adactacion a dispositivos */
@media (max-width: 900px) {
    .modal_perfil_no_autorizado img { visibility: hidden;}
    .autorizado_infoTitle {font-size: 25px;}
    .modal_perfil_no_autorizado_info {width: 75%;}

}