.NewTattooists{
    // background-color: var(--colorBlack);
    background-color: #0B0B0B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23090909' %3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
}

.containerCardsArts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}



/* ------------- C A R D ------------- */
.CardArtist{
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 429px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.CardArtist span{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 6.5s;
}
.CardArtist span::before{
    font-family: 'Amatic SC';
    content: 'Mas Destacado';
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150%;
    height: 40px;
    background: var(--colorOrange2);
    transform: rotate(-45deg) translateY(-20px);
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.1rem;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}


.CardArtist .PosterTatuador{
    position: relative;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    transition: 1s;
}
.CardArtist .PosterTatuador::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(8, 8, 8) 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.CardArtist:hover .PosterTatuador::before{
    bottom: 0px;
}

.CardArtist .PosterTatuador img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.CardArtist:hover .PosterTatuador img{
    transform: translateY(-50px);
    filter: blur(1px);
}

.CardArtist .detailsCard{
    position: absolute;
    bottom: -124px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}
.CardArtist:hover .detailsCard{
    bottom: 40px;
}
.CardArtist .detailsCard .NmeLtatoo{
    // max-width: 180px;
    font-family: 'Amatic SC';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 5px;

}
.CardArtist .detailsCard p{
    font-size: 0.8rem;
    color: white;
}
.CardArtist .detailsCard .rating{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: .8rem;
}

.rating{
    label{
        font-size: 20px;
        color: var(--colorOrange2);
    }
}
.Contenlikes{
    display: flex;
    align-items: center;
    gap: 5px;
}

.CardArtist .detailsCard .ViewProfileCard{
    width: 140px;
    height: 30px;
    border: solid 2px white;
    background: transparent;
    margin-top: 12px;
    cursor: pointer;
}
.CardArtist .detailsCard .ViewProfileCard a{
    color: #fff;
}
/*-------------------------------------*/
@media (max-width: 700px) {
    .NewTattooists{
        margin-left: 0rem;    }

        .titleMP4 {
            font-size: 56px;
            padding: 1rem;
        }
}

