.NewTattooists{
    background-color: var(--colorBlack);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
    padding: 45px;
}
.contTittleCards h1{
    display: flex;
    justify-content: center;
    color: var(--colorOrange2);
        
    }
.containerCardsArts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.containerCardsArts .CardArtist{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: var(--colorGray5);
    box-shadow: 0px 15px 45px rgb(0, 0, 0.25);
    overflow: hidden;
    transition: 0.5s;
}
.containerCardsArts .CardArtist:hover{
    width: 600px;
}
.CardArtist .ImgArtistCard{
    position: relative;
    min-width: 300px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: transparent;
}
.CardArtist .ImgArtistCard img{
    width: 255px;
    height: 255px;
}
.CardArtist .detailsCard{
    position: relative;
    min-width: 300px;
    background-color: var(--colorGray5);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.CardArtist .detailsCard .nameTatuadorCard h3{
    color: white;
}
.CardArtist .detailsCard .ContNumberLike .contSimbolAndNumL{
    display: flex;
    gap: 15px;
}
.CardArtist .detailsCard .descriptionCardTatt h4{
    color: white;
}
.CardArtist .detailsCard .descriptionCardTatt{
    color: white;
}
.CardArtist .detailsCard::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid var(--colorGray5);
}