.NewTattooists{
    background-color: var(--colorBlack);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
    padding: 45px;
}
.contTittleCards h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: var(--colorOrange2);
        
    }
.containerCardsArts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}



/* ------------- C A R D ------------- */
.CardArtist{
    height: 450px;
    width: 400px;
    margin-top: 50px;
    box-shadow: 5px 5px 20px var(--colorBlack);
    overflow: hidden;
}
.CardArtist img{
    height: 450px;
    width: 400px;
    border-radius: 3px;
}
.detailsCard{
    height: 70px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    transform: translate(0px, -73px);
    background: rgb(0 0 0 / 69%);
    color: white;
    transition: 0.5s;
}
.detailsCard h3{
    margin: 10px;
    font-size: 40px;
}
.detailsCard .descriptionCardTatt{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.detailsCard .ContNumberLike h4{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.detailsCard .ContNumberLike .contSimbolAndNumL{
    display: flex;
    font-weight: 300;
    gap: 14px;
    font-size: 21px;
    align-items: center;
}
.detailsCard .ContNumberLike .contSimbolAndNumL p{
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.detailsCard .ContNumberLike .contSimbolAndNumL span{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

//-------- hoversito de la  C A R D  :)   ---------------
.CardArtist:hover .detailsCard{
    height: 200px;
    transform: translate(0px, -203px);
}
.CardArtist:hover .detailsCard .descriptionCardTatt{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.CardArtist:hover .detailsCard .ContNumberLike h4{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.CardArtist:hover .detailsCard .ContNumberLike .contSimbolAndNumL p{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.CardArtist:hover .detailsCard .ContNumberLike .contSimbolAndNumL span{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
/*-------------------------------------*/
