.BodyProfileUser{
    .Content_profleUser{
        .ContentUserInfo{
            .contPublicP{
                .contTittle{
                    text-align: center;
                    border-bottom: 1px solid #d1d7dc;
                    p{
                        padding: 5px;
                    }
                }
            }
            .datesBasics{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
                .contN{
                    width: 100%;
                    display: flex;
                    padding: 0 2rem;
                    display: flex;
                    flex-direction: column;
                    .boxInf{
                        border: solid 1px;
                        height: 30px;
                        width: 100%;
                    }
                }
            }
            .contButtonSave{
                display: flex;
                justify-content: center;
                .buttons_global_StyleTatto{
                    background-color: #000;
                }
                .buttons_global_StyleTatto:hover{
                    border: solid 1px;
                }
            }
        }
    }
}