html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

body{
    width: 100%;
    overflow-x: hidden;
    background:  #0e0d0dfa;
    position: relative;
    color: var(--colorWhite);
    overflow-x: hidden;
    position: relative;
}



ol, ul {
    padding-left: 0rem;
}

img {pointer-events: none;}