*{
    padding:0; margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 700;
}

.titlepagehome{
    color: var(--colorOrange2);
}


.titleMP4{
    background-image: url(https://media.giphy.com/media/26BRvIYDe4ILO60Ni/source.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}


li {list-style: none;}

h1, h2, h3, h4, h5, h6 {
    font-family: Rajdhani,sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.04em;
}


h1,h2 {font-size: 55px;}

a {text-decoration: none;}

p{
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 29px;
}



// ============ ESTILOS GLOBALES  ============  //

// =================================
// Clase Global Para Un Div Vacio Si 
// Quieren Hacer Una Linea Separadora
// =================================

.separator {
    border-style: solid;
    border-color: #ffffff;
    width: 80px;
    border-bottom-width: 7px;
    margin: 5px 0 20px 0px;
}

// =================================
// Clase Global Para Un boton :)
// =================================

.buttons_global_StyleTatto {
    color: var(--colorWhite);
    border: 2px solid var(--colorWhite);
    background: transparent;
    padding: 10px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 0; margin-top: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    text-align: center;
    cursor: pointer;
}

.buttons_global_StyleTatto:hover {
    color: var(--colorBlack);
}
    .buttons_global_StyleTatto::after {
        content: "";
        background: var(--colorWhite);
        position: absolute;
        z-index: -1;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.2s ease;
    }
    
    .buttons_global_StyleTatto:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
}



.buttonLike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid #fff;
    background-color:transparent;
    transition: all 0.2s linear;
    color: #fff;
    cursor: pointer;
   }

   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }








   .switch-holder {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .switch-label {
    padding: 0 20px 0 10px
  }
  
  .switch-label i {
    margin-right: 5px;
  }
  
  .switch-toggle {
    height: 40px;
  }
  
  .switch-toggle BoxinpMBPP[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  
  .switch-toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(62, 62, 62, 0.6),
          inset 10px 10px 10px rgba(0, 0, 0, .25);
  }
  
  .switch-toggle::before {
    position: absolute;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 80px;
    border-radius: 20px;
    transition: .3s ease-in-out;
  }


  .Disponible-btn::before{
    content: 'Disponible';
    background: linear-gradient(210.41deg,#1b931b 1.14%,#2e8516 100.75%);;
  }

  .Ocupado-btn::before{
    content: 'Ocupado';
    background: linear-gradient(210.41deg,#e12110 1.14%,#b92424 100.75%);;
  }


  

  .loader {
    width: 65px;
    height: 65px;
    border: 8px solid #ee9b00a6;
    border-radius: 50px;
    position: relative;
   }
   
   .loader span {
    display: block;
    background: #ee9b00;
   }
   
   .loader .hour ,
   .loader .min {
    width: 6px;
    height: 22px;
    border-radius: 50px;
    position: absolute;
    top: 24.5px;
    left: 21px;
    animation: load9243 1.2s linear infinite;
    transform-origin: top center;
   }
   
   .loader .min {
    height: 17px;
    animation: load9243 4s linear infinite;
   }
   
   .loader .circel {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 19px;
    left: 19px;
   }
   
   @keyframes load9243 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }


