*{
    padding:0; margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 700;
}




.titleMP4{
    background-image: url(https://media.giphy.com/media/26BRvIYDe4ILO60Ni/source.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
}


li {list-style: none;}

h1, h2, h3, h4, h5, h6 {
    font-family: Rajdhani,sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.04em;
}


h1,h2 {font-size: 55px;}

a {text-decoration: none;}

p{
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 29px;
}



// ============ ESTILOS GLOBALES  ============  //

// =================================
// Clase Global Para Un Div Vacio Si 
// Quieren Hacer Una Linea Separadora
// =================================

.separator {
    border-style: solid;
    border-color: #ffffff;
    width: 80px;
    border-bottom-width: 7px;
    margin: 5px 0 20px 0px;
}

// =================================
// Clase Global Para Un boton :)
// =================================

.buttons_global_StyleTatto {
    color: var(--colorWhite);
    border: 2px solid var(--colorWhite);
    background: transparent;
    padding: 10px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1; margin-top: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    text-align: center;
    cursor: pointer;
}

.buttons_global_StyleTatto:hover {
    color: var(--colorBlack);
}
    .buttons_global_StyleTatto::after {
        content: "";
        background: var(--colorWhite);
        position: absolute;
        z-index: -1;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.2s ease;
    }
    
    .buttons_global_StyleTatto:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
}


