.loadPortafolio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    gap: 1rem;
    background-color: #00000065;
    flex-direction: column;
    font-size: 25px;
}





.ContentBodyInfoTattois {
    width: 100%;
    height: 200vh;

    .RightInftoTT {
        position: fixed;
        z-index: 98;
        margin: 5rem 0 5rem 5rem;
        width: 341px;
        padding: 1rem;
        height: 515px;
        left: 3rem;
        background-color: rgba(89, 89, 89, 0.3019607843);
        box-shadow: 5px 5px 10px #000;

        .ImgRightInftoTT {
            overflow: hidden;
            width: 100%;
            height: 300px;

            img {
                width: 100%;
                height: 300px;
            }
        }

        .ButtonsRightInftoTT {

            .like__btn {
                background: #535353;
                font-size: 18px;
                font-family: "Open Sans", sans-serif;
                border-radius: 5px;
                color: #e8efff;
                outline: none;
                border: none;
                cursor: pointer;
                height: 39px;
                padding: 1px 6px;
                margin-top: 10px;
               

            }


        }

        .direccion{
            font-weight: 600;
            margin-right: 1rem;
        }


    }

    .InfoTattois {
        width: 100%;
        height: 478px;
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.89)), url("../../../images/Fondos/fondoPaisajeBlack2.jpg");
        background-position: center;
        background-repeat: none repeat;
        background-size: cover;
        backdrop-filter: blur(20px);

        .LeftInftoTT {
            position: absolute;
            transform: translate(31rem, 14rem);
            width: 64rem;

            .iconosa{
                a{
                    color: white;
                }
            }



            .NameLeftInftoTT {
                font-size: 50px;
            }

            .EmailLeftInftoTT {
                font-size: 20px;
                font-weight: 100;
                padding-bottom: 0.5rem;
                color: rgba(255, 255, 255, 0.867);

            }

            .DescriLeftInftoTT {
                color: rgba(255, 255, 255, 0.722);
                font-size: 17px;
            }
        }
    }

    .PortaFInftoTT {
        width: 100%;
        padding-left: 30rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background: #000;

        .PortaFTitle {
            font-size: 80px;
            padding: 0rem 0rem 2rem 0rem;
            width: 100%;
            text-align: center;

        }

      
        .PortaFTitleImages {
            width: 100%;
            overflow-x: hidden;

            .slider-container {
                margin: 0 auto;
                overflow: hidden;
            }

            .slider {
                display: flex;
                cursor: grab;

                .PortafolioImg {
                    display: flex;
                    width: 420px;
                    height: 400px;
                    position: relative;
                    border-radius: 1em;

                    .card-img {
                        img {
                            pointer-events: none;
                            padding: 1rem;
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
            }
        }

    }




}