.ImagenPorafolio{
  margin-top: 3rem;
  padding: 1rem;
  width: 350px;
  height: 480px;  
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.966)), url('../../../images//Tattos/tatto5.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 7px 1px 52px #000;
}








/*  M O D A L    D E    C R E A C I O N    D E    P E R F I L    P R O F E C I O N A L */
.ocultarliCreate{
  display: none;
}

#ocultarliCreate{
  
  display: none;
}

.mostrarliCreate{
  display: block;
}


.FondBackGPp{
    position: absolute;
    width: 100%;
    height: 113vh;
    display: flex;
    justify-content: center;
    z-index: 3; top: 0;
    backdrop-filter: blur(8px);
    background-color: #000000c0;    
    color: var(--colorBlanco);
    .conTinerImgExibitPrf{
      width: 370px;
      height: 520px;
      display: flex;
      justify-content: center;
      align-items: center;
      .studioTattoModals{
        width: 100%;
        height: 100%;
        margin-top: 6rem;
      }
      .lentForImgExibit{
        width: 410px;
        height: 480px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.776);
        margin-top: 6rem;
      }
    }
    .ModalBuildProfilep{
      margin-top: 3rem;
      padding: 1rem;
      width: 410px;
      height: 480px;
      background-color: #000;
      box-shadow: 7px 1px 52px #000;

        .contImgAndTittlear{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 25px 15px 25px;
          .SecondContIconCMBPP{
            h3{
              color: var(--colorOrange2);
            }
          }
        }
    }

}


.SelectContent{

    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    .select{
        width: 200px;
        padding: 0.46rem;
        color: #fff;
        background: #000;
        border: 1px solid #ffffff4a;
        border-radius: 12px;
    }
    .selectIorWrkos{
      position: absolute;
      margin-top: -2rem;
      opacity: 0;
      width: 175px;
      height: 36px;
    }
   

    .inputProfile{
        width: 200px;
        padding: 0.46rem;
        color: #fff;
        background: #000;
        border: 1px solid #ffffff4a;
        border-radius: 12px;
    }
    .TextareaProfile{
        width: 26rem;
        height: 6rem;
        padding: 0.46rem;
        color: #fff;
        background: #000;
        border: 1px solid #ffffff4a;
        border-radius: 12px;
    }


    #addfile{
        width: 100%;
        height: 3rem;
        margin-bottom: 20px;
        border-color: var(--colorBlack);
        background-color:var(--colorGray5);
        text-align: center;
        color: var(--colorBlack);
    }
    .ButtonBoxIntImgFp{
      .sapos{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
     }
    }
  }
  

  
  
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    height: 40px;
    width: 250px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: var(--colorOrange2);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
    color: var(--colorOrange2);
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: var(--colorOrange2);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }

  .selectIorWrkosBottomUlW{
    // margin-top: -1.8rem;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-left: -46px;
  }
  #AnchButtonULwok{
    width: 310px;
  }