$color_black : #000;
$color_white : #fff;


.main{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_black;
    padding: 5%;
    border-radius: 5px;

    h1{
        text-decoration: underline;
        color: $color_white;
        margin-bottom:35px ;
    }

    p{
        color: $color_white;
    }

}

.contentData{
    display: flex;
    flex-direction: column;
    background-color: $color_white;
    border-radius: 2px;
    padding: 25px;
    width: 95%;

    p{
        color: #000;
    }
    
    .contentsData{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color_black;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;

        p{
            color: $color_white;
            font-size: 15px;
            margin: 10px;
        }
    }

    .contentsData .contentInfo{
        width: 50%;
        
        input{
            width: 100%;
            height: 25px;
            outline: none;
            background-color: transparent;
            border: none;
            color: $color_white;
            margin-bottom: 3px;
        }
    }

    .contentDataLine{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 15px;
    }

    input{
        padding: 10px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    select{
        padding: 10px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .contentDataLine hr{
        background-color: $color_black;
        height: 3px;
    }
}

.buttonData{
    background-color: $color_white;
    color:$color_black;
    padding: 10px;
    margin: 20px;
    width: 20%;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.buttonData:hover{
    text-decoration: underline;
}
