.navigationBTNResp{
    position: relative;
    right: 87px;
    bottom: 25px;
    margin: 0;
    z-index: 1000;
}
.navigationBTNResp{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle{
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.menuToggle::before{
    content: '+';
    position: absolute;
    font-size: 3rem;
    font-weight: 200;
    color: var(--colorOrange2);
    transition: 1.5s;
}
.menuToggle.active::before{
    transform: rotate(315deg);
}
.menuOpcionesCellW{
    position: absolute;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menuToggle.active ~ .menuOpcionesCellW{
    width: 240px;
    height: 55px;
    z-index: 1000;
    transform: translateY(-100px);
    transition-delay: 0s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgb(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuOpcionesCellW::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;
}
.menuToggle.active ~ .menuOpcionesCellW::before{
    transition-delay: 0.5s;
    bottom: -6px;
}
.menuOpcionesCellW ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}
.menuOpcionesCellW ul li{
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden; 
    transition: 0.25s;
}
.menuToggle.active ~ .menuOpcionesCellW ul li{
    opacity: 1;
    visibility: visible; 
    transition: 3.9s all;
}
.menuOpcionesCellW ul li a{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: var(--colorBlack);
}
#iconsMenuCELL{
    font-size: 2rem;
}
.menuOpcionesCellW ul li:hover a{
    color: var(--colorOrange2);
}