.CloseBackLogin{
    text-align: center;
    width: 100%;
    color: #7b7b7b;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg{
        color: #7b7b7b;
        cursor: pointer;
        font-size: 30px;
    }
}




.BackGround {
     background-image: linear-gradient(rgba(27, 27, 27, 0.726),rgba(0, 0, 0, 0.555)), url('../.././../images/Fondos/Login.jpg');

    .ErrorMenssage {
        text-align: center;
        color: #ffff;
        margin-top: 2.56rem;
        padding: 5px;
        width: 100%;
        height: auto;
        background-color: #ff0000;

    }
}



// Div
.Content_FormsPrincipalLogin {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    // Div
    .Content_Forms {
        background-color: #000000ba;
        width: 400px;
        height: 450px;
        padding: 22px;
        font-size: 15px;
        box-sizing: border-box;

        h2 {
            text-align: center;
            font-size: 25px;
            margin: -3px 0 -3px 0;
        }

        // Div
        .inputContent {
            position: relative;
            margin-top: 36px;

            // Input
            .input_global_styleLogin {
                display: block;
                margin: bottom 20px;
                width: 100%;
                font-size: 15px;
                font-weight: 400;

            }

            // Label
            .label_global_style {
                position: absolute;
                top: 10px;
                font-weight: 300;
                left: 5px;
                transition: .3s;
                pointer-events: none;
                color: #bcbcbc;
            }

            .input_global_styleLogin:focus~.label_global_style,
            .input_global_styleLogin:valid~.label_global_style {
                top: -10px;
                color: var(--colorWhite2);
            }

            .input_global_styleLogin[type="password"],
            .input_global_styleLogin[type="text"] {
                /* Aca lo que hice fue solo modificar los inputs de text y password */
                border: none;
                border-bottom: 1px solid #fff;
                background: transparent;
                outline: none;
                height: 40px;
                color: #fff;
            }
        }
    }

    button {
        width: 100%;
        margin: 2.52rem 0 1.52rem 0;
    }

    .questions {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 30px;

        a {
            color: darkgrey;
            font-size: 15px;
            padding: 10px;
            text-align: center;
        }

        a:hover {
            color: var(--colorOrange2);
        }
    }
}



@media(max-width:900px) {
    .Content_FormsPrincipalLogin {
        .Content_Forms {
            width: 343px;
        }
    }

    .Content_FormsPrincipalLogin {
        height: 100vh;
    }
}


@media(max-width:480px) {
    .buttons_global_StyleTatto {
        font-size: 18px;
        width: 250px;
    }

    .Content_FormsPrincipal {
        .Content_Forms {
            height: 500px;
            width: 380px;

            h1 {
                font-size: 40px;
            }
        }
    }
}