.cont1{
    width: 70%;
    margin-left:16%;
    border-color: rgb(255, 255, 255);
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 40px;
    box-shadow: 6px 3px 6px black;
        h3{
            text-align: center;
            font-size: 25px;
            margin-top: 0.4rem;
            font-style:italic;
            text-decoration:underline;
            color: rgba(238, 135, 0, 0.904);
        }
        p{
            margin-top: 0.1rem;
            padding: 0.5rem;
            font-size: 14px;
        }
        .contSecciones{
            h2{
                font-size: 14px;
                padding: 1rem;
                font-style: italic;
                color: rgba(238, 135, 0, 0.904);
            }
            p{
                right: 1rem;
            }
            .ContButtonAcep{
               display: flex;
               justify-content: center;
               align-items: center;
               width: 100%;
            }
                
                }
                
                
            }
           



