.cont1{
    width: 70%;
    margin-left:16%;
    border-color: rgb(255, 255, 255);
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 40px;
    box-shadow: 6px 3px 6px black;
        h3{
            text-align: center;
            font-size: 25px;
            margin-top: 0.4rem;
            font-style:italic;
            text-decoration:underline;
            color: rgba(238, 135, 0, 0.904);
        }
        p{
            margin-top: 0.1rem;
            padding: 0.5rem;
            font-size: 14px;
        }
        .contSecciones{
            h2{
                font-size: 14px;
                padding: 1rem;
                font-style: italic;
                color: rgba(238, 135, 0, 0.904);
            }
            p{
                right: 1rem;
            }.BntAceptarterminos{

                .buttons_global_StyleTatto{
                    border: none;
                    padding: 10px 20px;
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    width: 500px;
                    text-align: center;
                    margin-bottom: 1rem;
                    margin-left: 19%;
                    cursor: pointer;
                    border: 2px solid var(--colorWhite);
                    background: transparent;

                }

                @media (max-width: 1300px) {
                    .buttons_global_StyleTatto {
                        width: 70%;
                        height: 6vh;
                        margin-left: 15%;
                    }
                }
                @media (max-width: 900px) {
                    .buttons_global_StyleTatto {
                        width: 82%;
                        height: 6vh;
                        margin-left: 9%;
                    }
                }
                @media (max-width: 600px) {
                    .buttons_global_StyleTatto {
                        width: 70%;
                        height: 7vh;
                        margin-left: 13%;
                    }
                }
                    
                
                }
                
                
            }
           

    }



