.BigCont {
    width: 100%;
    height: auto;
    background-size: cover;

    .ContInfoP {
        width: 100%;
        height: 100%;
        padding: 7%;

        .InfImgO {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            .ContInfor {
                width: 40%;
                margin-left: 5%;
                height: auto;
                text-align: justify;

                h3 {
                    margin-bottom: 30px;
                    font-size: 45px;
                    color: var(--colorOrange2);
                }
            }

            .contImg {
                width: 40%;
                height: 40%;
                overflow: hidden;
                cursor: pointer;

                img {
                    width: 70%;
                    height: 100%;
                    transition: 2s;
                   


                }
                img:hover{
                    transform: translate(-30%);
                    filter: brightness(80%);
                }
            }
        }

        .InfImgT {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin-top: 55px;

            .contImgT {
                width: 40%;
                height: 40%;
                cursor: pointer;
                overflow: hidden;

                img {
                    width: 70%;
                    height: 100%;
                    transition: 2s;
                    
                  
                }
                img:hover{
                    transform: translateX(-30%);
                    filter: brightness(80%);
                }
            }

            .ContInforT {
                width: 45%;
                height: auto;
                margin-left: 5%;
                text-align: justify;
            }
        }

        .ContViewButton {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;

            li {
                margin-right: 60px;
            }
        }
    }
}

//   R E S P O N S I V E

@media (max-width:844px) {
    .BigCont {
        .ContInfoP {
            .InfImgO {
                display: flex;
                flex-direction: column;

                .ContInfor {
                    width: 100%;
                    margin-bottom: 2rem;
                    margin-left: 11%;
                }

                .contImg {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            .InfImgT {
                display: flex;
                flex-direction: column-reverse;

                .ContInforT {
                    width: 100%;
                    margin-bottom: 2rem;
                    margin-left: 11%;
                }

                .contImgT {
                    width: 100%;
                }
            }
        }
    }
}


.BigCont3 {
    width: 100%;
    height: auto;
    text-align: center;


    .ContInfoP3 {
        width: 100%;
        height: 100%;

        padding: 7%;

        
    h3 {
        margin-bottom: 50px;
        font-size: 50px;
        color: var(--colorOrange2);
    }

    }
}

.containerPoke {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;

    .pokeContainer {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 90%;

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0;

            img {
                border-radius: 15px 15px 0 0;
                width: 100%;
            }
        }
    
    }
}

//   R E S P O N S I V E

@media (max-width:844px) {
    .BigCont3 {
        .ContInfoP3 {
            .InfImgO3 {
                display: flex;
                flex-direction: column;

                .ContInfor3 {
                    width: 100%;
                    margin-bottom: 2rem;
                    margin-left: 11%;
                }

                .contImg3 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            .InfImgT3 {
                display: flex;
                flex-direction: column-reverse;

                .ContInforT3 {
                    width: 100%;
                    margin-bottom: 2rem;
                    margin-left: 11%;
                }

                .contImgT3 {
                    width: 100%;
                }
            }
        }
    }
}