
.Content_FormsPrincipal{
    background-image: url('../.././../images/Fondos/Login.jpg');
        
    .Checkbox{
        display: flex;
        justify-content: flex-start

        p{
            font-size: 10px;
            color: var(--colorGray3);
        }
    }

    .questions{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 30px;

        a{
            color: darkgrey; 
            font-size: 15px;
            padding: 10px;
            text-align:center;
        }

        a:hover{
            color: var(--colorOrange2);
        }
    }
}















