.BodyProfileUser{
    .Content_profleUser{
        .ContentUserInfo{
            .addPhotoMessenge{
                width: 550px;
                text-align: center;
                border-bottom: 1px solid #d1d7dc;
                p{
                    padding: 5px;
                }
            }
            .contIconImg{
                width: 550px;
                height: 390px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .boxIconImg{
                    width: 450px;
                    height: 210px;
                    border: solid 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .checkImg{
                        width: 130px;
                        height: 130px;
                    }
                    .contCamera{
                        span{
                            font-size: 30px;
                        }

                        
                    }
                }
                .buttons_global_StyleTatto{
                   background-color: black;
                   color: #fff; 
                }
                .buttons_global_StyleTatto:hover{
                    color: black;
                    border: solid 1px;   
                }
            }
        }
    }
}


@media (max-width: 600px){

.BodyProfileUser {
    .Content_profleUser{
        .ContentUserInfo .contIconImg {
            width: 100%;
}
    } 
}
}