.ContImageUserEdit{
    width: 1300px;
    height: auto;
    .FaceUserEdit{
        width: 250px;
        // border-radius: 100%;
        text-align: center;
    }
    .Edit{
        display: flex;
        width: 70px;
        color: orange;
    }
}