
.LoaderArtist{
  gap: 3rem;
  width: 100%;
  height: 32vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;

}


.Content_Tattooists{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(20, 20, 20, 0.904)), url("../../../images//Fondos//fondoPaisajeBlack2.jpg");
    backdrop-filter: blur(80px); /* EFECTO BLUR*/

    .Content_TattooistsTitle{
      text-align: center;
        padding: 20px;

        h1{
          margin-left: 5rem;
        }

        p{  padding: 3rem 7rem;
            font-size: 18px;
            color: var(--colorWhite2);
        }
    }
    .contSelectorTattuadors{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      .MenuSelectorTattuadors{
        width: 30%;
        height: 45px;
        // border: none;
        padding: 13px;
        text-align: center;
        color: white;
        background-color: var(--colorBlack);
        border: solid 1px white;
      }
    }

    .selectYarTist{
      width: 300px;
      text-align: center;
      height: 40px;
      background-color: #000;
      color: white;
      margin-left: 6rem;
    }

    .main-contenido{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        gap: 3rem;
        justify-content: center;
        margin-top: 30px;
    }
}



.containerTattois {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  
    .cardsTattooists {
      position: relative;

      .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
  
        &.facel {
          position: relative;
          background: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }
      }
  


  
      .face.facel .content img {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
      }
    }
  
    &.cardsTattooists .face.face1 .content h3 {
      margin: 10px © 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
    }
  
    .cardsTattooists {
      .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      }
  
  
      .face.face2 .content {

        .btnA_menu {
          margin: 15px 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #333;
          padding: 5px;
          border: 1px solid #333;
        }
      }
    }
  }
  
  .nameTattooists {
    font-weight: 900;
    color: var(--colorBlack)
  }
  
  .descripTattooists {
    height: 5rem;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location_on {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: #555555;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }









/*       B U S C A D O R       */

.contSearch{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.search-box{
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-CajaAnimation > #Buscador12 {
    width: 300px;
    padding: 0 10px;
}

.svgAnimationS{
    transform: scale(0.8);
    // rotate(360deg)
}
#Buscador12{
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  color: white;
  border-bottom: 1px solid white;
  line-height: 40px;
  text-align: center;
}
.input-icon{
    color: var(--colorWhite2);
    float: right;
    width: 50px;
    font-size: 1.3rem;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

/*   B U S C A D O R    D E S P L I E G U E   */

.MenuOptions{
  height: 40px;
  width: 300px;
  text-align: center;
  background-color: rgb(46, 43, 43);
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0!important;
  cursor: pointer;
  select::-ms-expand {
    display: none;
  }
  select{
    width: 20em;
    height: 3em;
    line-height: 3;
    background-color: rgb(33, 33, 33);
    overflow: hidden;
    border-radius: .25em;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
  }
}
.IconDespliegMen{
  display: flex;
  align-items: center;
}
.IconRotation{
  display: flex;
  align-items: center;
  transform: rotate(180deg);
  transition: .5s all;
}

.member-name{
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin: 1rem 0 0 0;
    color: #000;
}

.member-name::after{
    content: "";
    background-color: #202020;
    height: 4px;
    width: 100px;
    top: 105%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
}

.member-description{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #202020ce;
    margin-top: 20px;
}

.button{
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: #202020;
    font-weight: 600;
    padding: 13px 20px;
    margin-top: 1rem;
}

.button:hover{
    color: white;
}

img.imgtattooists{
    filter: grayscale(100%);
}





.card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 1em;
  box-shadow: 0 0 20px 8px #d0d0d0;
  ;
 }
 
  /*Image*/
 .card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #0a3394, #4286f4);
 }
 
 /*Description */
 .card-description {
  display: flex;
  position: absolute;
  gap: 1em;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 70%;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
 }
 
 /*Text*/
 .text-title {
  font-size: 1.4em;
  font-weight: 700;
 }
 
 .text-body {
  font-size: 1em;
  line-height: 150%;
 }
 
 
 /* Hover states */
 
 .card:hover .card-description {
  transform: translateY(100%);
 }
 



 /*
███╗░░░███╗███████╗██████╗░██╗░█████╗░  ░██████╗░██╗░░░██╗███████╗██████╗░██╗░░░██╗░██████╗
████╗░████║██╔════╝██╔══██╗██║██╔══██╗  ██╔═══██╗██║░░░██║██╔════╝██╔══██╗╚██╗░██╔╝██╔════╝
██╔████╔██║█████╗░░██║░░██║██║███████║  ██║██╗██║██║░░░██║█████╗░░██████╔╝░╚████╔╝░╚█████╗░
██║╚██╔╝██║██╔══╝░░██║░░██║██║██╔══██║  ╚██████╔╝██║░░░██║██╔══╝░░██╔══██╗░░╚██╔╝░░░╚═══██╗
██║░╚═╝░██║███████╗██████╔╝██║██║░░██║  ░╚═██╔═╝░╚██████╔╝███████╗██║░░██║░░░██║░░░██████╔╝
╚═╝░░░░░╚═╝╚══════╝╚═════╝░╚═╝╚═╝░░╚═╝  ░░░╚═╝░░░░╚═════╝░╚══════╝╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░
 */

@media (max-width: 900px){
  .containerTattois .cardsTattooists{
    margin-left: 39px;
      .face {width: 300px;} 
  }


  .Content_Tattooists{
    .Content_TattooistsTitle{
      h1{ margin-left: 80px;font-size: 42px;}
      p{margin-left: 10%;padding: 3rem 0rem; font-size: 15px;}
    }
    .contSearch{margin-left: 10%;}
    .main-contenido{margin-left: 10%;}
  }
}


@media (max-width: 500px){
  .containerTattois .cardsTattooists{
    margin-left: 39px;
      .face {width: 244px;} 
  }
}

