.Content_Tattooists{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    text-align: center;

    .Content_TattooistsTitle{
        padding: 20px;

        p{
            padding: 10px;
            font-size: 18px;
            color: var(--colorWhite2);
        }
    }

    .main-contenido{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        gap: 3rem;
        justify-content: center;
        margin-top: 30px;
    }
}



.containerTattois {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  
    .cardsTattooists {
      position: relative;

      .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
  
        &.facel {
          position: relative;
          background: #333;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }
      }
  


  
      .face.facel .content img {
        width: 180px;
        border-radius: 50%;
      }
    }
  
    &.cardsTattooists .face.face1 .content h3 {
      margin: 10px © 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
    }
  
    .cardsTattooists {
      .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      }
  
  
      .face.face2 .content {

        .btnA_menu {
          margin: 15px 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #333;
          padding: 5px;
          border: 1px solid #333;
        }
      }
    }
  }
  
  .nameTattooists {
    font-weight: 900;
    color: var(--colorBlack)
  }
  
  .descripTattooists {
    font-size: 15px;
    line-height: 22px;
    color: #333;
  }










/*       B U S C A D O R       */

.contSearch{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.search-box{
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box:hover > #Buscador12 {
    width: 300px;
    padding: 0 10px;
}

svg :hover{
    transform: rotate(360deg) scale(0.8);
}
#Buscador12{
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  color: white;
  border-bottom: 1px solid white;
  line-height: 40px;
  text-align: center;
}
.input-icon{
    color: var(--colorWhite2);
    float: right;
    width: 50px;
    font-size: 1.3rem;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}


.member-name{
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin: 1rem 0 0 0;
    color: #000000;
}

.member-name::after{
    content: "";
    background-color: #202020;
    height: 4px;
    width: 100px;
    top: 105%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
}

.member-description{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #202020ce;
    margin-top: 20px;
}

.button{
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: #202020;
    font-weight: 600;
    padding: 13px 20px;
    margin-top: 1rem;
}

.button:hover{
    color: white;
}

img.imgtattooists{
    filter: grayscale(100%);
}


// R E S P O N S I V E

@media (max-width: 900px){
  .Content_Tattooists{
    .Content_TattooistsTitle{
      h1{
        margin-left: 10%;
      }
      p{
        margin-left: 10%;
      }
    }
    .contSearch{
      margin-left: 10%;
    }
    .main-contenido{
      margin-left: 10%;
    }
  }
}