
// P A G E  H O M E
.ContBigVeryH{
    background-color: var(--colorBlack);
}
.MainView{
    background-image: url('../../.././images/Fondos/Fondo_MainView.jpg');
    height: 100vh; margin-left: 78px;
    background-size: cover;background-position-y: -11rem;
    display: flex; flex-direction: column;
    justify-content: center;align-items: center; gap: 10px;
    
    div{
        margin: 20px 0;
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .MainView{
        text-align: center;
        background-position-y: 0rem;
        h1,h2 {font-size: 40px;}
        div{flex-direction: column}
    }
}

@media (max-width: 1000px) {
    .MainView{background-position-y: 0rem;}
}

/*SERVICIOS*/

.Tattooists_Services{
    width: 100%;
    height: auto;
    margin-bottom: 7rem;
    background-image: url('../../../images/Fondos/FondoHomeMview.jpg');
    background-size: cover;
    background-position: center;
    .Title_Services{
        width: 100%;
        height: auto;
        margin-top: 50px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.911);
    }
    .Services{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 250px;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.911);

        .Services_content{
            width: 405px;
            height: 430px;
            padding: 40px;
            background-color: var(--colorBlack);
            text-align: center;
            margin-top: 40px;
            margin-bottom: 3rem;
            color: rgb(255, 255, 255);
            h1{
                color: rgb(255, 255, 255);
            }
        }
    }
}
/*   R E S P O S I V E  */
@media (max-width: 1000px) {
    .Services{
       margin-left: 80px; 
    }
}
