.formRegisterUser{width: 450px;height: 100%;}


.Mas57{top: 27.15rem}


// Div
.Content_FormsPrincipal{
    background-position: center; background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
        // Div
        .inputContent{
            display: flex;
            width: 100%;height: 55px;
            justify-content: space-around;
            position: relative;
            margin-top: 16px;

            span{font-size: 11px; color: var(--colorOrange2); width: 88%;}

            // Input
            .global_styleRegistroIn{
                display: block;
                width: 175px;
                font-weight: 500;
            }
            
            // Label
            .label_global_styleRegistro{
                position: absolute;
                top: 10px;
                margin-top: 8px;
                font-size: 13px;
                font-weight: 600;
                transition: .3s ;
                pointer-events: none;
                color: var(--colorGray3);
            }
    
            .global_styleRegistroIn:focus~.label_global_styleRegistro,.global_styleRegistroIn:valid~.label_global_styleRegistro{
                top: -10px;
                color: var(--colorWhite);
            }
    
            .global_styleRegistroIn[type="text"],
            .global_styleRegistroIn[type="email"],
            .global_styleRegistroIn[type="password"]{  /* Aca lo que hice fue solo modificar los inputs de text y password */
                border: none;
                border-bottom: 1px solid var(--colorWhite);
                background: transparent;
                outline: none;
                height: 40px;
                color: var(--colorWhite);
            }
        }
        .sameline{
            input{
                visibility: hidden;
            }
            label{
                display: block;
                width: 15px;
                height: 5px;
                cursor: pointer;
                display: flex;
                flex-direction: column-reverse;
                height: 30px;
            }
            input:checked ~ .checkBox{
                transform: rotate(45deg);
                width: 8px;
                height: 17px;
                border-color: orange;
                border-top-color: transparent;
                border-left-color: transparent;
                border-radius: 0;
            }
            .checkBox{
                display: block;
                width: inherit;
                height: inherit;
                border: 3px solid #434343;
                border-radius: 6px;
                transition: all 0.375s;
            }
        }
    }
    .Btn_Register{
        width: 100%;
        display: flex;
        justify-content: center;

        button{ width: 90%;}
    }


    .errosEmail{
        width: 100%;
        text-align: center;
        color: var(--colorOrange2);
        font-size: 11px;
        padding: 10px;
    }

    .emailSpam{text-align: center;}


    .questions{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 30px;

        a{
            color: var(--colorWhite); 
            font-size: 12px;
            padding: 10px;
            text-align:center;
        }

        a:hover{
            color: var(--colorOrange2);
        }
    
}




@media(max-width: 900px){
    .buttons_global_StyleRegistroTatto{
        font-size: 18px;
        width: 250px;
    }

    .Content_FormsPrincipal{
        .Content_Forms {
            height: 500px;
            width: 380px;
        
            h1{font-size: 40px;}
        }
    }
}


@media (max-width: 400px) {
    .Content_FormsPrincipal .inputContent 
    .global_styleRegistroIn {
        display: block;
        width: 125px;
        font-weight: 500;
    }

    .Content_FormsPrincipal .inputContent span {
        font-size: 9px;
        color: var(--colorOrange2);
        width: 88%;
    }

    .Mas57{
        top: 23.3rem;
    }
}

