$colortext : #857c7c ;
$colortitle : #fff;


.main{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contentProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: rgba(5, 5, 5, 0.915);
    width: 30rem;
    border-radius: 10px;
    border: 2px #fff solid;
}

.contentImg{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    width: 11rem;
    height: 11rem;
    border-radius: 100rem;
    div{
        text-align: center;
        height: 9rem;
        width: 9rem;
    }
    img{
        width: 8rem;
        height: 8rem;
    }
}

.contentText{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;

    p strong{
        color: $colortitle;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p{
        color: $colortext;
    }
}

.contentButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.styleButton{
    text-align: center;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 2px #fff solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    a{
        color: #000;
    }
}

.styleButton:hover{
    background-color: #000;
    color: #fff;

    a{
        color: #fff;
    }
}

