.Content_profleUser{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    .contProfileU{
        width: 22%;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 12px;
        border-right: solid 1px gray;
        padding: 12px;
        .ContFaceUser{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            .FaceUser{
                width: 200px;
                height: 200px;
                border-radius: 100%;
            }
        }
        .contNameU{
            width: 90%;
            margin-top: 1rem;
            text-align: center;
        }
        .optionsUser{
            margin-top: 15px;
            .option{
                width: 100%;
                padding: 5px;
                border-bottom: solid 1px white;
            }
            .option:hover{
                background-color: black;
                color: white;
            }
            .Logout button{
                color: var(--colorOrange2);
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
            }
        }
    }

    .contPublicP{
        width: 70%;
        height: auto;
        hr{
            width: 96%;
        }
        .datesBasics{
            margin-top: 30px;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .contN{
                width: 95%;
                height: auto;
                margin-bottom: 15px;
                .boxInf{
                    background: none;
                    width: 100%;
                    color: var(--colorWhite);
                    padding: .657rem;
                    border: solid 1px white;
                }
                label{
                    font-size: 15px;
                    font-weight: 300;
                    color: var(--colorWhite2);
                }
            }
        }.contButtonSave{
            display: flex;
            justify-content: center;
        }
    }
}

#editprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    .contButtonUp{ 
       
        .buttons_global_StyleTatto{
            position: absolute;
            transform: translate(-1px, -20px);
            width: 17%;
            background-color: var(--colorGray);
            text-align: center;
            .confirmarUp{
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
        #btnConfirmar{
            margin-top: 13%;
            height: 55px;
            cursor: pointer;
        }

        #btneditemail{
            margin-top: 90px;
            height: 55px;
            cursor: pointer;
        }

        #btneditname{
            margin-top: 9%;
            height: 55px;
            cursor: pointer;
        }
}
}

//     M O D A L
.modalImg{
    visibility: hidden;
    position: fixed; z-index: 3;
    top:0px; width: 100%; height:100%;
    backdrop-filter: blur(12px); /* EFECTO BLUR*/
    background-color: rgba(0, 0, 0, 0.5);
    .contModal{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .imge{
            height: 450px;
            box-shadow: 0 20px 50px rgba(19, 19, 19, 0.8);
        
        }
        svg{
            position: absolute;
            color:var(--colorWhite);
            transform: translate(31vh, -31vh);
        }
    }
}