
.textoTrasnparent{
    border-top: 3px solid var(--colorOrange2);
}

// //  B A C K G R O U N D 
.BodyProfileUser{
    background-color: var(--colorWhite);
     width: 100%; height: 100%; padding: 1rem;
     display: flex;
     justify-content: center;
     align-items: center; 
     padding-bottom:5rem
} 


// L A B E L S 
.labelsTxtProfile{
    font-weight: 400;
    margin-bottom: 4px;
}

//  C O N T E  NE  D O R    D E L    L A D O    I Z Q U I E R D O  


.contProfileU{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--colorGray);
    .contProfileU{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: var(--colorGray);
        width: 35%;
        box-shadow: 1px 2px 10px black;
        height: 450px;
        margin: 2rem;
        .ContFaceUser{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            .FaceUser{
                width: 170px;
                height: 175px;
                border-radius: 90%;
                margin: 10px;
            }
        }
        .contNameU{
            width: 90%;
            margin-top: 1rem;
            text-align: center;
        }
        .optionsUser{
            margin-top: 15px;
            .option{
                width: 100%;
                padding: 5px;
                cursor: pointer;
                border-bottom: solid 1px white;
            }
            .option:hover{
                background-color: black;
                color: white;
            }
            .Logout button{
                color: var(--colorOrange2);
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
            }
        }
    }

    .contPublicP{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 83%;
        background-color: black;
        padding: 25px;
        margin: 1.5rem;
        .contTittle{
            text-align: center;
        }
        hr{
            width: 96%;
            margin: 0.5;
        }
        
        .datesBasics{
            margin-top: 30px;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .contN{
                width: 95%;
                height: auto;
                margin-bottom: 15px;
                .boxInf{
                    background: none;
                    width: 100%;
                    color: var(--colorWhite);
                    padding: .657rem;
                    border: solid 1px white;
                }
                label{
                    font-size: 15px;
                    font-weight: 300;
                    color: var(--colorWhite2);
                }
            }
        }.contButtonSave{
            display: flex;
            justify-content: center;
        }
    }
}

#editprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    .contButtonUp{ 
       
        .buttons_global_StyleTatto{
            position: absolute;
            transform: translate(-1px, -20px);
            width: 17%;
            background-color: var(--colorGray);
            text-align: center;
            .confirmarUp{
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
        #btnConfirmar{
            margin-top: 13%;
            height: 55px;
            cursor: pointer;
        }

        #btneditemail{
            margin-top: 90px;
            height: 55px;
            cursor: pointer;
        }

        #btneditname{
            margin-top: 9%;
            height: 55px;
            cursor: pointer;
        }
}
}

.ChevronsLeft{
    color: var(--colorBlack);
}

//     M O D A L
.modalImg{
    visibility: hidden;
    position: fixed; z-index: 3;
    top:0px; width: 100%; height:100%;
    backdrop-filter: blur(12px); /* EFECTO BLUR*/
    background-color: rgba(0, 0, 0, 0.5);
    .contModal{
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        justify-content: center;

        .FaceUser{
            width: 7.5rem;
            height: 7.5rem;
        }
    }
    .contNameU{
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        
        h3{ font-weight: 700;
            text-align: center;
            line-height: 1.2;
            padding: 0 1.0rem;
            letter-spacing: -.02rem;
            font-size: 13.5px; color: #000;}
    }
    .optionsUser{
        padding: 2.4rem 0;
        list-style: none;
        margin: 0;
        max-width: none;

        .optionCustomer{
            width: 100%;
            cursor: pointer;
            display: flex; 

            &:hover{background: var(--colorGray3);color: #fff;}

            a{
                color: #232527;
                font-weight: 400;
                width: 100%;
                padding: 8px;
                display: flex;
                align-items: center;

                &:hover{color: #fff;}
            }
            .Icons-Options{
                font-size: 20px;
                margin-right: 5px;
            }
        }

        .Logout button{
            color: var(--colorOrange2);
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
    }
}





//  C O N T E  NE  D O R    D E L    L A D O    D E R E C H O  

.Content_profleUser{
    width: 750px;
    color: #000;
    display: flex;
    justify-content: center;


    .ContentUserInfo{
        border: 1px solid #d1d7dc;
        width: 750px;

        .contentHeaderTitle {
            border-bottom: 1px solid #d1d7dc;
            padding: 1.6rem 0;
            text-align: center;

            h3,p{color: #000;}
        }
    }
}

//   R E S P O N S I V E   P E R F I L   P E R S O N A L 
@media (max-width:900px) {
    .BodyProfileUser{
        .Content_profleUser{
            display: flex;
            flex-direction: column;
            align-items: center;


            .contProfileU{
                border: solid 1px #d1d7dc;
                height: 70vh;
                width: 100%;


                .optionsUser .optionCustomer a {
                    padding: 8px;
                }
            }
            .ContentUserInfo{
                width: 100%;    
                height: auto;
                padding-bottom: 1.46rem;

                .contPublicP{
                    .datesBasics{
                        .contN{
                            width: 100%;
                            display: flex;
                            padding: 0 2rem;                        
                        }
                    }
                }

            }
        }
    }
}


@media (max-width:500px) {
    .BodyProfileUser{
        .Content_profleUser{
            display: flex;
            flex-direction: column;
            align-items: center;


            .contProfileU{
                border: solid 1px #d1d7dc;
                height: auto;
                width: 350px;

            }
            .ContentUserInfo{
                width: 350px;    
                height: auto;
                padding-bottom: 1.46rem;
            
            }

            
        }
    }
}