
//  B A C K G R O U N D 

.BodyProfileUser{
    background-color: var(--colorWhite);
     width: 100%; height: 100%; padding: 3rem;
     display: flex;
     justify-content: center;
     align-items: center; 
} 





//  C O N T E  NE  D O R    D E L    L A D O    I Z Q U I E R D O  


.contProfileU{
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-shadow: 1px 1px #d1d7dc inset, 0 -1px #d1d7dc inset;
    background: #fff;
    width: 270px; height: 80vh;
    overflow: hidden;
    padding-bottom: 20px;
    border-right: 0;

    .ContFaceUser{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;

        .FaceUser{
            width: 7.5rem;
            height: 7.5rem;
        }
    }
    .contNameU{
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        
        h3{ font-weight: 700;
            text-align: center;
            line-height: 1.2;
            padding: 0 1.0rem;
            letter-spacing: -.02rem;
            font-size: 13.5px; color: #000;}
    }
    .optionsUser{
        padding: 2.4rem 0;
        list-style: none;
        margin: 0;
        max-width: none;

        .optionCustomer{
            width: 100%;
            cursor: pointer;
            display: flex; 

            &:hover{background: var(--colorGray3);color: #fff;}

            a{
                color: #232527;
                font-weight: 400;
                width: 100%;
                padding: 8px;
                display: flex;
                align-items: center;

                &:hover{color: #fff;}
            }
            .Icons-Options{
                font-size: 20px;
                margin-right: 5px;
            }
        }

        .Logout button{
            color: var(--colorOrange2);
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
    }
}





//  C O N T E  NE  D O R    D E L    L A D O    D E R E C H O  

.Content_profleUser{
    width: 750px;
    color: #000;
    display: flex;
    justify-content: center;


    .ContentUserInfo{
        border: 1px solid #d1d7dc;
        width: 750px;

        .contentHeaderTitle {
            border-bottom: 1px solid #d1d7dc;
            padding: 1.6rem 0;
            text-align: center;

            h3,p{color: #000;}
        }
    }
}

//   R E S P O N S I V E    P E R F I L    P E R S O N A L 
@media (max-width:730px) {
    .BodyProfileUser{
        .Content_profleUser{
            display: flex;
            flex-direction: column;
            align-items: center;
            .contProfileU{
                border: solid 1px #d1d7dc;
                height: 70vh;
            }
            .ContentUserInfo{
                width: 100%;
                .contPublicP{
                    .datesBasics{
                        .contN{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            input{
                                width: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
}