.ContButtonsHomeP{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.gorroNavidad{
    position: absolute;
    width: 76px;
    z-index: 1;
    transform: translate(-236px, -7px);
}