.ContButtonsHomeP{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.gorroNavidad{
    position: absolute;
    width: 45px;
    z-index: 1;
    transform: translate(-168px, -4px);
}