
.BackGroundFormA{
    background-image: url('../.././../images/Fondos/Login.jpg');
    width: 100%;
    height: 100vh;
    text-decoration:none;

    .ErrorMenssage{
        text-align: center;
        color: #ffff;
        padding: 5px;
        width: 150px;
        height: auto;
        background-color: #ff0000;
        position: absolute;
        top: 50%;
        left: 60%;
        z-index: 1000;

    }
}



// Div
.Content_FormsPrincipal{
    background-position: center; background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;

    // Div
    .Content_Forms{
        background-color: #000000ba;
        width: 380px;
        height: 450px;
        padding: 22px;
        font-size: 15px;
        box-sizing: border-box;

        h2{text-align: center;font-size: 33px;margin-bottom: 10px;}

        // Div
        .inputContent{
            display: flex;
            width: 100%;
            justify-content: space-around;
            position: relative;
            margin-top: 16px;

            // Input
            .global_styleRegistroIn{
                display: block;
                width: 150px;
                font-weight: 500;
            }

            .EmailInput{width: 100%;}
            
            // Label
            .label_global_styleRegistro{
                position: absolute;
                top: 10px;
                margin-top: 8px;
                font-size: 13px;
                font-weight: 600;
                transition: .3s ;
                pointer-events: none;
                color: var(--colorGray3);
            }
    
            .global_styleRegistroIn:focus~.label_global_styleRegistro,.global_styleRegistroIn:valid~.label_global_styleRegistro{
                top: -10px;
                color: var(--colorWhite2);
            }
    
            .global_styleRegistroIn[type="text"],
            .global_styleRegistroIn[type="email"],
            .global_styleRegistroIn[type="password"]{  /* Aca lo que hice fue solo modificar los inputs de text y password */
                border: none;
                border-bottom: 1px solid #fff;
                background: transparent;
                outline: none;
                height: 40px;
                color: #fff;
            }
        }
    }
    button{ width: 100%; margin: 1.52rem 0 1.52rem 0; }

    .questions{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 30px;

        a{
            color: darkgrey; 
            font-size: 15px;
            padding: 10px;
            text-align:center;
        }

        a:hover{
            color: var(--colorOrange2);
        }
    }
}




@media(max-width: 900px){
    .buttons_global_StyleRegistroTatto{
        font-size: 18px;
        width: 250px;
    }

    .Content_FormsPrincipal{
        .Content_Forms {
            height: 500px;
            width: 380px;
        
            h1{font-size: 40px;}
        }
    }
}


