/* Abstracts  */
@use './Scss/abstracts/mixins';
@use './Scss/abstracts/variables';

/* Base  */
@use './Scss/base/base';
@use './Scss/base/global';


body { background-color: #b0b0b0; font-family: 'IBM Plex Serif'; color: #fff; height: 100vh;}


nav {
    background-color: var(--colorNegro);
    height: 70px; padding: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.mainMenu {display: flex;}

.mainMenu li a{
display: inline-block;text-transform: uppercase;
font-size: 5px;padding: 15px;
color: rgb(255, 255, 255);font-size: 18px;
transition: 0.2s ease;
}
.mainMenu li a:hover {color:  var(--colorPrincipal);}
.icon-5 {font-size: 2rem;margin: 20px;display: flex;cursor: pointer;}

.TextNav h1{padding: 20px;margin: 6px;cursor: pointer;}
.TextNav img {width: 70px;margin: 23px}


